<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: 'Times New Roman', Times, serif;
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: blue;
        font-size: 60pt;
    }

    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Welcome to the Hockey Website!</h1><br>
    <p>Hello there!This site has been visited {{ count }} times.</p>
    <p>
		
		<img src="https://raw.githack.com/Bullrush19/Lab3SampleSite/main/sample_site/templates/images/hockey4.jpeg" alt="Hockey Image">
	</p>

</div>
